body {
    font-family: Arial, sans-serif;
    background-color: #e35959;
    color: #3f16c3;
}
button {
    background-color: #3f16c3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}
button:hover {
    background-color: #000000;
}